!DOCTYPE html>
<html style="height:100%;margin:0px;">
<head>

</head>
<body style="height:100%;margin:0px;">

  <div class="jumbotron" style="position:relative; box-sizing:border-box; margin:0px; padding-top: 80px; background-color:#1BB5B0; color: white; height:250px">
      <h1 style = "text-align:center;">HEADER <img src="/assets/huella.png" width="100px" style="padding: 0px;"></h1>
  </div>

 <div class="panel-body" style="padding:0px;width:25%; height:100%; float:left;">
    <div class="filtro">
      <h3 style="text-align:center;margin-top:10px;" >Filtra tu busqueda</h3>
      <%= form_tag("/dogs/search", method: "post") do %> <!-- cambiar por "post"--> 
       <div class="field">
            <%=label_tag :raza_id %><br>
            <%= select_tag :raza_id, options_for_select(Raza.all.collect { |s| [s.name, s.id] }),include_blank: true%>
        </div> 
        <div class="field">
            <%=label_tag :Género %><br>
            <%=select_tag :gender, options_for_select([['Macho', 'Macho'], ['Hembra', 'Hembra']]),include_blank: true %>
        </div>
        
        <div class="field">
          <%= label_tag(:q, "Fecha:") %> <br>
          <%=text_field_tag 'Fecha', nil, class: 'date-field',readonly:"readonly"%>
        </div> 
        <%= submit_tag("Search", :class=>"busqueda")%> 
      <%end%> 
      <div id="map" style="width: 300px; height: 300px; border:1px solid salmon" ></div>
      </div>

   </div>

<div class="panel-body" style="padding:0px;width:75%; float:left;">
  <!--<p id="notice"><%= notice %></p>-->
       <div >
      <% @dogs.each do |dog| %>       
        <div class="col-md-4">
          <%= link_to dog, :class=>"portfolio-box" do%>
          <%= image_tag dog.photo, :class=>"img-responsive"%>
          <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <%= label_tag dog.gender%>
                                </div>
                                <div class="project-name">                                    
                                    <%= label_tag dog.raza.name%>
                                </div>
                                <!--%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %>-->
                            </div>
                        </div>                                
          <% end %>          
        </div>
    <% end %>
    </div>

    </div>


</body>
</html>
